.cart_main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.cart_item_image{
    margin-right: 40px;
}
.product_desc{
    margin-right: 40px;
}
.add_item{
    margin-right: 10px;
}
.reduce_item{
    margin-right: 40px;
}
.last_btn{
    margin-top: 20px;
}